.todo-template {
  width: 520px;
  margin: 0 auto;
  margin-top: 6rem;
  overflow: hidden;
  border-radius: 6px;
}

.title {
  text-align: center;
  background-color: #22b8cf;
  height: 4rem;
  line-height: 4rem;
  color: #fff;
  font-size: 1.5rem;
}

.content {
  background-color: #fff;
}
